.outer{
    display:flex;
    align-items: flex-start;
    background-color:white;
    margin: 20px 30px 20px 30px;
    box-shadow: 5px 10px 20px lightgray;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    background-color: rgb(21, 179, 81);
    box-shadow: 1px 0px 7px  rgb(21, 179, 81);
    padding: 10px 30px 10px 30px;
    color: white;
    align-self: flex-start;
}
.list{
    margin-top: 30px;
    padding: 10px 30px 30px 30px;
    background-color: rgb(241, 241, 241);
}
ul h3{
    margin: 10px 0px 10px 0px;
}
.btn{
    cursor: pointer;
    width: 125px;
    padding: 8px;
    background-color: rgb(21, 179, 81);
    box-shadow: 0px 0px 7px  rgb(21, 179, 81);
    color:white;
    font-size: 17px;
    font-weight: bold;
    border: none;
}
.btnOff{
    cursor: default;
    width: 125px;
    padding: 8px;
    background-color: rgb(150, 150, 150);
    box-shadow: 0px 0px 7px  rgb(78, 78, 78);
    color:white;
    font-size: 17px;
    font-weight: bold;
    border: none;
}
.btn:hover {
    background-color: rgb(23, 165, 78);
    box-shadow: 0px 0px 7px  rgb(21, 179, 81);
}
.implementation{
    border: 5px solid rgb(224, 224, 224);
    width: 500px;
}
.content{
    padding: 0px 20px 40px 40px;
}
.content2{
    padding: 0px 30px 0px 0px;
    margin-top: 70px;
}