body, html{
  padding:0;
  margin:0;
}
h1{
  margin: 0px;
  padding: 10px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  color: rgba(4, 7, 12, 0.815);
}
.head{
  background-color: rgb(21, 179, 81);
  width: 400px;
  margin-top: 20px;
  box-shadow: 0px 0px 7px  rgb(21, 179, 81);
  justify-self: center;
  color: white;
}
.container{
  display:flex;
  margin: 0px 50px 0px 100px;
  justify-content: center;
  flex-wrap: wrap;
}
